
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>About Us</h2>
<div class="row">

    <div class="col-lg-8">
        <p>The e-commerce industry is full of businesses who are simply looking for ways to boost their sales with very little concern for their customers or their interests.</p>
        <p><strong><i>Hepsi Şurada</i></strong> is a fledgling company for the e-Commerce Business. However, the company is giving the best results for their clients about security, sustantialness and satisfaction. Because of the company guidelines stick to the costomer delights, its always improves itselves towards on it.</p>
        <p>For the check out the Guidline of the Company <a href="#">Click Here!</a></p>
        <p>What do you think about us? <a href="#">Inform us!</a></p>
        <p><i>Thank you for your interest!</i></p>
    </div>
    <div class="col-lg-4">

        <img src="~/Content/images/customer-satisfaction-survey-process.png" />
    </div>

</div>

