@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>


<div class="row">
    <div class="col-lg-4">
        <address>
            <strong>HepsiSurada.com<br /></strong>
            Turkey, TR 98052-6399<br />
            <abbr title="Phone">P:+9 0216 222 11 33</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="#">AliDemir@hepsisurada.com</a><br />
            <strong>Marketing:</strong> <a href="#">YaseminYilmaz@hepsisurada.com</a>
        </address>
        <p><i>Do not hesitate to Contact Us!</i></p>
    </div>
    <div class="col-lg-4">

        <img src="~/Content/images/download.png" width="150" height="150"  />

    </div>
</div>